<?xml version="1.0" encoding="utf-8"?>
<configuration>
     <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\CaducaRest.dll" stdoutLogEnabled="true" stdoutLogFile="logs\stdout"  />
    </system.webServer>
    <system.web>
        <customErrors mode="On" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
    </system.webServer>
</configuration>
